.wa-button {
  position: fixed;
  z-index: 9999;
}

.wa-button.top-left {
  top: 1rem;
  left: 1rem
}

.wa-button.top-right {
  top: 1rem;
  right: 1rem
}

.wa-button.bottom.left {
  bottom: 1rem;
  left: 1rem;
}

.wa-button.bottom.right {
  bottom: 1rem;
  right: 1rem;
}
